
<div class="container">
    {{!-- buttons and user profile pic --}}
    <div class="row">
        {{!-- search movies button, Button trigger modal --}}
        <div class="col-md-3 text-center">
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ModalLong1">
                Search
            </button>
            {{!-- Modal --}}
            <div class="modal fade" id="ModalLong1" tabindex="-1" role="dialog" aria-labelledby="movieSearch" aria-hidden="true">
                <div class="modal-dialog1" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="movieSearch">Movie Search</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary save">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
		</div>
        {{!-- view what you want to watch list, Button trigger modal --}}
        <div class="col-md-3 text-center">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalLong2">
                To Watch
            </button>
            {{!-- Modal --}}
            <div class="modal fade" id="ModalLong2" tabindex="-1" role="dialog" aria-labelledby="toWatch" aria-hidden="true">
                <div class="modal-dialog2" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="toWatch">Movies To Watch</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary save">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
		</div>
        {{!-- image/link to show signed in and profile --}}
        <div class="col-md-3">
            <a href="" class="userPic">
                <img src="user profile pic" alt="profile-pic" height="" width="" id="picture">
            </a>
        </div>
    </div>
    {{!-- ratings --}}
    <div class="row">
        <div class="col-md-3 text-center">
            {{yourRating}}<br>
            <p>Your Rating</p>
        </div>
        <div class="col-md-3 text-center">
            {{this.vs}}
        </div>
        <div class="col-md-3 text-center">
            {{MobRating}}<br>
            <p>Mob Rating</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
           <div class="dropdown show">
             <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Your Rating</a>
                <a class="dropdown-item" href="#">Mob Rating</a>
                <a class="dropdown-item" href="#">Date Added</a>
                </div>
            </div> 
        </div>
    </div>
    {{!-- body --}}
    <div class="col-lg-12">
        <ul>
            <li>
                <div class="row">
                    <div class="col-md-9 card" data-toggle="collapse">
                        <div class="card-body">
                            <form action="" class="search-form" method="GET">
				                <h5 class="card-title">{{MovieTitle}}</h5>
                                <p class="card-text">{{MovieDescription}}</p>
                                <div class="row">
                                    <div class="col-md-3">
                                        <p>Your Rating</p>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <p>Mob Rating</p>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                    </div>
                                </div>
			                </form> 
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<p>handlebars-test: {{ testdata }}</p>