
<div class="container-fluid">
    {{!-- buttons and user profile pic --}}
    <div class="row navbar" style="border-bottom: 1px solid #d9d9d9;">
        {{!-- search movies button, Button trigger modal --}}
        
        <div class="col-md-3 text-center mt-3">
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#searchModal">
                Search
            </button>
            {{!-- Modal --}}
            <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Movie Search</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="searchBar">
                        <input type="text" id="movie-input">
                        <button class="btn btn-primary" id="add-movie">Search</button>
                    </div>
                    <div class="modal-body" id="movie-results">
                    </div>

                    </div>
                </div>
            </div>

			<!-- Add Modal -->
			<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="yourRatingTitle"></h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body" id="youRatingDiv">
							<form class="addMovieClass">
								<input type="text" id="userRating">
								<input type="hidden" id="averageRating" value="">
								<input type="hidden" id="movieName" value="">
								<input type="hidden" id="moviePoster" value="">
								<input type="hidden" id="moviePlot" value="">
								<input type="hidden" id="userId" value="{{ userId }}">
								<button type="submit" class="btn btn-primary" id="addYourRating">Rate</button>
							</form>
						</div>
						<div class="modal-footer"></div>
                    </div>
                </div>
            </div>
		</div>

        <div class="col-md-1"></div>
        {{!-- view what you want to watch list, Button trigger modal --}}
        <div class="col-md-3 text-center mt-3">
            {{!-- future plans --}}
            {{!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ModalLong2">
                To Watch
            </button> --}}
		</div>
        <div class="col-md-2"></div>
        {{!-- image/link to show signed in and profile --}}
        <div class="col-md-2 mt-3 mr-2">
            <div class="dropdown">
                <a href="" style="border:none;" class="userPic btn btn-outline-primary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown">
                <img src="images/bat.png" alt="profile-pic" height="40px" width="40px" id="picture">
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>    
        </div>
    </div>
    {{!-- ratings --}}
    <div class="row ratings">
        <div class="col-md-3 text-center">
            <p class="{{yourColor}}" style="font-size: 40px; font-weight:600;">{{yourRating}}</p>
            <h5>Your Rating</h5>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-md-2 text-center mt-3">
            <h3>VS</3>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-md-3 text-center mr-3">
            <p class="{{mobColor}}" style="font-size: 40px; font-weight:600;">{{mobRating}}</p>
            <h5>Mob Rating</h5>
        </div>
    </div>
    <div class="row filter">
        {{!-- <div class="col-md-6"></div> --}}
        <div class="col-md-10"></div>
        <div class="col-md-1 ml-4">
            {{!-- future plans --}}
            {{!-- <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle mt-1 mb-1" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Your Rating</a>
                    <a class="dropdown-item" href="#">Mob Rating</a>
                    <a class="dropdown-item" href="#">Date Added</a>
                </div>
            </div>  --}}
        </div>
        <div class="col"></div>
    </div>
    {{!-- body --}}
    <div class="row bg-primary">

		<div class="col-lg-12" style="padding-top:40px;">
			{{#each watchedMovies}}
			<div class="card" style="width: 19rem; margin-left:auto; margin-right:auto; margin-bottom:40px;">
				<div style="height:200px; overflow:hidden;">
					<img class="card-img-top" src="{{moviePoster}}" alt="Card image cap">
				</div>
				<div class="card-body">
					<h5 class="card-title" style="border-bottom: 1px solid #d9d9d9; padding-bottom: 20px; font-size: 30px; text-align: center;">{{movieName}}</h5>
					<div class="row">
						<div class="col-6">
							<p style="text-align:center; font-size:25px;">{{userRating}}</p>
							<p style="text-align:center;">Your Rating</p>
						</div>
						<div class="col-6">
							<p style="text-align:center; font-size:25px;">{{averageRating}}</p>
							<p style="text-align:center;">Mob Rating</p>
						</div>
					</div>
					<p class="card-text">{{moviePlot}}</p>
					<a href="#" class="btn btn-primary" style="display:block;">More</a>
				</div>
			</div>
			{{/each}}
		</div>
    </div>
</div>

<script type="text/javascript" src="js/movieSearch.js"></script>
<script type="text/javascript" src="js/addMovie.js"></script>